#ceylon{
    border-radius: 25px;
    border-color: rebeccapurple;
}
#iw{
    width: 470px;
}
#cy{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


